/* Alterações Gerais */

.navbar-brand .img-fluid { 
    height: 70px;
    width:auto;
}


/* Template */

.navbar-toggler {
    position: relative;
    align-items: flex-end;
}

.card-img-top {
    object-fit: cover;
}