/* Alterações Gerais */

.navbar-brand .img-fluid { 
    height: 70px;
    width:auto;
}
.navbar-toggler {
    position: relative;
    align-items: flex-end;
}

/* Cards anuncios */

.card-img-top {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.container-fluid.container-cards{
    padding-left: 60px;
    padding-right: 60px;
}

.btn.btn-outline-dark.btn-adocao{
    align-items:center;
}

/* Perfil do usuario */

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}